# =========================
# Node.js / TypeScript
# =========================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
build/
coverage/
.husky/_/

*.tsbuildinfo

# Variables d'environnement
.env
.env.*
!.env.example

# =========================
# PHP
# =========================

vendor/

# Composer
composer.lock
composer.phar

# Logs
*.log

# Cache
.cache/
tmp/

# =========================
# IDEs
# =========================

.vscode/
.idea/

# =========================
# Système
# =========================

.DS_Store
Thumbs.db

# =========================
# Tests
# =========================

.phpunit.result.cache

# =========================
# Uploads (si le site stocke des fichiers)
# =========================

uploads/*
!uploads/.gitkeep
